<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration> 
<typeAliases>
 <typeAlias alias="mpv" type="com.ezen_jeonju.myapp.domain.MainPageVo"/>
 <typeAlias alias="mv" type="com.ezen_jeonju.myapp.domain.MemberVo"/>
 <typeAlias alias="nv" type="com.ezen_jeonju.myapp.domain.NoticeVo"/>
 <typeAlias alias="cv" type="com.ezen_jeonju.myapp.domain.ContentsVo"/>
 <typeAlias alias="sv" type="com.ezen_jeonju.myapp.domain.ScheduleRootVo"/>
 <typeAlias alias="tv" type="com.ezen_jeonju.myapp.domain.TourCourseVo"/>
 <typeAlias alias="kd" type="com.ezen_jeonju.myapp.domain.KakaoDTO"/>
 <typeAlias alias="nd" type="com.ezen_jeonju.myapp.domain.NaverDTO"/>
 <typeAlias alias="scri" type="com.ezen_jeonju.myapp.domain.SearchCriteria"/>
 <typeAlias alias="af" type="com.ezen_jeonju.myapp.domain.AttachFileVo"/>
 
</typeAliases>
</configuration>