<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.ContentsService_Mapper">


<insert id="contentsWrite" parameterType="cv">
INSERT INTO contents(midx, contentsCategory, contentsSubject, contentsArticle, contentsLatitude, contentsLongitude, contentsHashtag, aidx)
VALUES(#{midx}, #{contentsCategory}, #{contentsSubject}, #{contentsArticle}, #{contentsLatitude}, #{contentsLongitude}, #{contentsHashtag}, #{aidx})
</insert>

<sql id="search">
<if test="search != false">
	and contentsSubject like concat('%',#{keyword},'%')
</if>
</sql>

<select id="contentsList" parameterType="cscri" resultType="cld">
SELECT c.cidx, c.contentsSubject, c.contentsViewCount, c.contentsReviewCount,c.aidx, count(cl.clidx) as likecount
FROM contents c
left join contentslike cl on c.cidx=cl.cidx
WHERE contentsCategory = #{category} AND contentsYN = 'N' 
<include refid="search"/>
group by c.cidx, c.contentsSubject, c.contentsViewCount, c.contentsReviewCount, c.aidx
order by cidx desc limit #{page}, #{perPageNum}
</select>

<select id = "totalCount" parameterType="cscri" resultType="int">
select count(*) as cnt from contents where contentsYN="N" and contentsCategory=#{category}
<include refid="search"/>
</select>

<select id="contentsArticle" parameterType="int" resultType="cv">
SELECT cidx, contentsCategory, contentsSubject, convert(contentsArticle using utf8) as contentsArticle, contentsViewCount, contentsReviewCount, 
contentsWriteday, contentsLatitude, contentsLongitude, contentsHashtag , aidx
FROM contents
WHERE cidx = #{cidx}
</select>

<select id="contentsFileload" parameterType="int" resultType="af">
SELECT storedFileName, filePath From attachFile
WHERE cidx=#{cidx}
</select>

<update id="contentsModify" parameterType="cv">
update contents set contentsCategory = #{contentsCategory}, contentsSubject = #{contentsSubject}, contentsArticle = #{contentsArticle}, contentsHashtag = #{contentsHashtag},
	contentsLatitude = #{contentsLatitude}, contentsLongitude = #{contentsLongitude}
where cidx=#{cidx} <!-- and pwd = #{pwd} -->
</update>

<update id="contentsDelete" parameterType="int">
update contents set contentsYN = 'Y' , contentsWriteday = now() 
where cidx=#{cidx}
</update>

<update id="contentsViewCountUpdate" parameterType="int">
update contents set contentsViewCount = contentsViewCount+1 where cidx=#{cidx}
</update>

<select id="starAverage" parameterType="int" resultType="String">
select round(avg(reviewScore),1) as avg from review where reviewYN='N' and cidx=#{cidx}
</select>

<select id="reviewCount" parameterType="int" resultType="int">
select count(ridx) from review where reviewYN='N' and cidx=#{cidx}
</select>

</mapper>