<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.ContentsService_Mapper">

<insert id="contentsWrite" parameterType="cv">
INSERT INTO contents(midx, contentsCategory, contentsSubject, contentsArticle, contentsLatitude, contentsLongitude, contentsHashtag)
VALUES(#{midx}, #{contentsCategory}, #{contentsSubject}, #{contentsArticle}, #{contentsLatitude}, #{contentsLongitude}, #{contentsHashtag})
</insert>

<select id="sightsList" resultType="cv">	<!-- like table과 join해서 좋아요도 출력해야함 -->
SELECT cidx, contentsSubject, contentsViewCount, contentsReviewCount FROM contents
WHERE contentsCategory = '명소' AND contentsYN = 'N' ORDER BY 1 desc
</select>

<select id="foodList" resultType="cv">
SELECT cidx, contentsSubject, contentsViewCount, contentsReviewCount FROM contents
WHERE contentsCategory = '음식' AND contentsYN = 'N' ORDER BY 1 desc
</select>

<select id="contentsArticle" parameterType="int" resultType="cv">
SELECT cidx, contentsCategory, contentsSubject, convert(contentsArticle using utf8) as contentsArticle, contentsViewCount, contentsReviewCount, 
		contentsWriteday, contentsLatitude, contentsLongitude, contentsHashtag 
FROM contents
WHERE cidx = #{cidx}
</select>

<update id="contentsModify" parameterType="cv">
update contents set contentsCategory = #{contentsCategory}, contentsSubject = #{contentsSubject}, contentsArticle = #{contentsArticle}, contentsHashtag = #{contentsHashtag}
where cidx=#{cidx} <!-- and pwd = #{pwd} -->
</update>

<update id="contentsDelete" parameterType="int">
update contents set contentsYN = 'Y' , contentsWriteday = now() 
where cidx=#{cidx}
</update>

<update id="contentsViewCountUpdate" parameterType="int">
update contents set contentsViewCount = contentsViewCount+1 where cidx=#{cidx}
</update>

</mapper>