<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.MainPageService_Mapper">

<insert id="mainPageVannerRegister" parameterType="mpv">

INSERT INTO mainpage(mainPageSequence, mainPageSubject, mainPageLink, midx, aidx)
VALUES(#{mainPageSequence}, #{mainPageSubject}, #{mainPageLink}, #{midx}, #{aidx})
</insert>

<select id="mainPageVannerView" resultType="mpv">
SELECT *from mainpage a 
join attachfile b on a.aidx=b.aidx where b.category="배너" ORDER BY a.mainPageSequence asc;
</select>

<select id="mainPageSecondView" resultType="mpv">
SELECT *from mainpage a 
join attachfile b on a.aidx=b.aidx where b.category="배너" ORDER BY a.mainPageSequence asc;
</select>

</mapper>