<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.MypageService_Mapper">

<select id="getMemberPhone" parameterType="int" resultType="String">
select memberPhone from member where midx=#{midx}
</select>

<select id="reviewList" parameterType="rcri" resultType="mpd">
SELECT ridx, reviewArticle, reviewScore, reviewWriteday, c.contentsSubject, c.aidx, c.cidx
from review r
join contents c on r.cidx = c.cidx
where r.midx=#{midx} and reviewYN='N'
order by ridx desc limit #{page},#{perPageNum}
</select>

<update id="reviewDelete" parameterType="int">
UPDATE review SET reviewYN='Y' WHERE ridx=#{ridx}
</update>

<select id="reviewTotalCnt" parameterType="int" resultType="int">
select count(ridx) as cnt from review where reviewYN='N' and midx=#{midx}
</select>

<select id="likeList" parameterType="mlcri" resultType="mlcri">
SELECT cl.clidx, c.aidx, c.contentsSubject
FROM contentslike cl 
JOIN contents c ON cl.cidx=c.cidx
WHERE cl.midx=#{midx}
order by clidx desc limit #{page},#{perPageNum}
</select>

<select id="likeTotalCnt" parameterType="int" resultType="int">
select count(clidx) from contentslike where midx=#{midx}
</select>

<delete id="likeDelete" parameterType="int">
delete from contentsLike where clidx=#{clidx}
</delete>

</mapper>