<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.NoticeService_Mapper">

<insert id="noticeWrite" parameterType="nv" >
INSERT INTO notice(midx, noticeSubject, noticeCategory, noticeArticle, noticeFileName, noticeFilePath, noticeHashtag)
VALUES(#{midx}, #{noticeSubject}, #{noticeCategory}, #{noticeArticle}, #{noticeUploadedFileName}, #{noticeFilePath}, #{noticeHashtag})
</insert>

<sql id = "search">
<if test="searchType != null and searchType.equals('noticeSubject')">
	and noticeSubject like concat('%',#{keyword},'%')
</if>
<if test="searchType != null and searchType.equals('noticeCategory')">
	and noticeCategory like concat('%',#{keyword},'%')
</if>
</sql>

<select id="noticeList" parameterType="scri" resultType="nv">
SELECT nidx, noticeSubject, noticeCategory, noticeWriteday FROM notice
WHERE noticeYN='N'
<include refid="search"/>
order by nidx desc limit #{page}, #{perPageNum}
</select>

<select id = "noticeTotalCount" parameterType="scri" resultType="int">
select count(*) as cnt from notice where noticeYN="N" 
<include refid="search"/>
</select>

<select id="noticeContents" parameterType="int" resultType="nv">
SELECT nidx, noticeSubject, noticeCategory, convert(noticeArticle using utf8) as noticeArticle, noticeFileName, noticeFilePath, noticeWriteday, noticeHashtag
FROM notice
WHERE nidx = #{nidx}
</select>

<update id="noticeModify" parameterType="nv">
update notice set noticeCategory = #{noticeCategory}, noticeSubject = #{noticeSubject}, noticeArticle = #{noticeArticle}, noticeHashtag = #{noticeHashtag}
where nidx=#{nidx}
</update>

<update id="noticeDelete" parameterType="int">
update notice set noticeYN = 'Y' , noticeWriteday = now() 
where nidx=#{nidx}
</update>

</mapper>