<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.ReviewReportService_Mapper">

<select id="reportList" resultType="rrd">
SELECT rr.rridx, rr.reviewReportReason, rr.reviewReportDate, 
	   rr.ridx, rr.cidx, m.memberName as 'reporter',
	   m2.memberName as 'reported',
	   c.contentsSubject, r.reviewArticle
FROM reviewreport rr
join review r on rr.ridx=r.ridx
join member m on rr.midx=m.midx
join member m2 on rr.midx2=m2.midx
join contents c on rr.cidx=c.cidx
where rr.reviewReportYN='N' and r.reviewYN='N'
</select>

<update id="reportCancel" parameterType="int">
update reviewReport set reviewReportYN = 'Y' where rridx=#{rridx}
</update>

<update id="reviewDelete" parameterType="rrv">
<selectKey resultType="rrv" keyProperty="ridx,midx" order="BEFORE">
select ridx,midx from reviewReport where rridx=#{rridx}
</selectKey>
UPDATE review SET reviewYN='Y' WHERE ridx=#{ridx}
</update>

<update id="reviewReportDelete" parameterType="int">
UPDATE reviewReport set reviewReportYN='Y' where rridx=#{rridx}
</update>

<insert id="insertNotification" parameterType="rrv">
insert into notification(rridx, midx, notificationCategory) values(#{rridx},#{midx},"del")
</insert>
</mapper>