<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen_jeonju.myapp.persistance.ReviewService_Mapper">

<insert id="reviewWrite" parameterType="rv">
INSERT INTO review(cidx, midx, reviewArticle, reviewScore)
VALUES(#{cidx},#{midx},#{reviewArticle},#{reviewScore})
</insert>

<select id="reviewList" parameterType="rcri" resultType="rld">
SELECT ridx,reviewArticle,reviewScore,reviewWriteday,r.midx, m.memberName
FROM review r
join member m on r.midx=m.midx
WHERE reviewYN='N' and cidx=#{cidx}
order by ridx desc limit #{page},#{perPageNum}
</select>

<update id="reviewDel" parameterType="int">
UPDATE review SET reviewYN='Y' WHERE ridx=#{ridx}
</update>

<select id="reviewTotalCnt" parameterType="int" resultType="int">
select count(ridx) as cnt from review where reviewYN='N' and cidx=#{cidx}
</select>

<select id="reviewReport" parameterType="int" resultType="rrd">
select r.midx, m.memberName, r.reviewArticle, r.ridx, r.cidx
from review r
join member m on r.midx = m.midx
where r.ridx=#{ridx}
</select>

<insert id="reviewReportAction" parameterType="rrv">
INSERT INTO reviewReport(ridx, cidx, midx, midx2, reviewReportReason)
VALUES(#{ridx},#{cidx},#{midx},#{midx2},#{reviewReportReason})
</insert>

<select id="reviewReportCheck" parameterType="rrv" resultType="int">
select count(rridx)
from reviewreport
where ridx=#{ridx} and midx2=#{midx2}
</select>
</mapper>