<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen_jeonju.myapp.persistance.ScheduleService_Mapper">
<insert id="scheduleWrite" parameterType="sv">
<!-- sidx 생성된 후 sidx가 tourCourse 에 들어감 -->
<selectKey resultType="int" keyProperty="sidx"  order="AFTER">
select max(sidx) as sidx from scheduleroot
</selectKey>
insert into scheduleroot(scheduleSubject,scheduleStartDate,scheduleEndDate,scheduleShareYN,midx) 
values(#{scheduleSubject},#{scheduleStartDate},#{scheduleEndDate},#{scheduleShareYN},#{midx});
</insert>

<select id="scheduleList" resultType="sv">
select * from scheduleroot where scheduleDelYN='N' and scheduleShareYN='Y';
</select>

<select id="scheduleContents" resultType="sv" parameterType="int">
select * from scheduleroot where sidx=#{sidx};
</select>

<select id="tourCourseContents" resultType="tv" parameterType="int">
select t.tourCourseDate, t.tourCourseTime, t.tourCoursePlace, t.tourCourseLatitude,t.tourCourseLongitude,t.tourCourseNDate
from scheduleroot s
join tourcourse t ON s.sidx = t.sidx
where s.sidx = #{sidx}
order by t.tourCourseDate asc, t.tourCourseTime asc;
</select>

<update id="scheduleViewCount" parameterType="int">
update scheduleroot set scheduleViewCount=scheduleViewCount+1 where sidx = #{sidx};
</update>

<insert id="tourCourseInsert" parameterType="tv">
insert into tourcourse(sidx,tourCourseDate,tourCourseTime,tourCoursePlace,tourCourseLatitude,tourCourseLongitude,tourCourseNDate) 
values(#{sidx},#{tourCourseDate},#{tourCourseTime},#{tourCoursePlace},#{tourCourseLatitude},#{tourCourseLongitude},#{tourCourseNDate});
</insert>

<select id="tourCourseNDate" resultType="tv" parameterType="int">
select t.tourCourseNDate
from scheduleroot s
join tourcourse t ON s.sidx = t.sidx
where s.sidx = #{sidx}
GROUP by t.tourCourseNDate
order by t.tourCourseNDate;
</select>

<select id="tourCourseNDateContents" resultType="tv" parameterType="tv">
select t.tourCourseDate, t.tourCourseTime, t.tourCoursePlace, t.tourCourseLatitude,t.tourCourseLongitude,t.tourCourseNDate
from scheduleroot s
join tourcourse t ON s.sidx = t.sidx
where s.sidx = #{sidx} and t.tourCourseNDate = #{tourCourseNDate}
</select>

</mapper>