@charset "UTF-8";
.WritingWrap {
	width: 1080px;
	margin: 0 auto;
}

.WritingHeader {
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid coral;
}

.WritingHeader .title {
    margin-bottom: 16px;
    font-size: 22px;
    color: coral;
    font-weight: bold;
}

.WritingHeader .btn {
    position: absolute;
    bottom: 10px;
    right: 0;
    background: #FFDEAD;
	border-color: #FFDEAD;
	color: coral;
	font-weight: bold;
}

.WritingHeader .btn:hover {
	border: 1px solid coral;
	color: coral;
}
/* Modify css */
.WritingHeader .btnArea {
    position: absolute;
    bottom: 12px;
    right: 0;
}

.WritingHeader .twobtn {
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    background: #FFDEAD;
	border-color: #FFDEAD;
	color: coral;
	font-weight: bold;
}
/* ----- */
.WritingHeader .twobtn:hover {
	border: 1px solid coral;
	color: coral;
}

.WritingContent {
    position: relative;
    padding-top: 22px;
    padding-bottom: 50px;
}

.WritingContent .editer_wrap {
    margin-bottom: 15px;
    padding: 20px 28px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #eee;
    background-color: #fff;
}

.WritingContent .editer_wrap label {
    width: 12%;
    color: dimgray;
    text-align: right;
}

.formCategory select {
    margin-left: 5px;
    padding: 0 25px 0 10px;
    width: 250px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #ebecef;
    cursor: pointer;
    font-size: 14px;
}

.formCategory select option[value=""][disabled] {
	display: none;
}

/* Modify css */
.formCategory input {
    margin-left: 5px;
    width: 8%;
    height: 40px;
    padding: 13px 16px 11px;
    border: 1px solid transparent;
    box-sizing: border-box;
    /* border-radius: 10px; */
    background-color: #f5f6f8;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
/* ----- */

.formSubject {
    margin-top: 16px;
}

.formSubject input{
    margin-left: 5px;
    width: 85%;
    height: 40px;
    padding: 13px 16px 11px;
    border: 1px solid transparent;
    box-sizing: border-box;
    /* border-radius: 10px; */
    background-color: #f5f6f8;
    font-size: 14px;
    line-height: 22px;
}

/* input box 입력 후 배경색 없애기 */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #f5f6f8 inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

/* 해시태그 */
.hashTagArea {
    margin-top: 16px;
}

.tagify{    
    margin-left: 5px;
    width: 85%;
}

.tagify--outside{
    border: 0;
}

.tagify--outside .tagify__input{
  order: -1;
  flex: 100%;
  border: 1px solid var(--tags-border-color);
  margin-bottom: 1em;
  transition: .1s;
}

.tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
.tagify--outside.tagify--focus .tagify__input{
  transition:0s;
  border-color: var(--tags-focus-border-color);
}

/* Modify css */
.file_wrap {
	margin-top: 16px;
    display: flex;
}

.uploadedFile {
	width: 50%;
	display: flex;
}

.uploadedFile img {
	margin-left: 10px;
}

/* 메인사진 등록하기 */
#customFileUpload {
    margin-top: 16px;
    display: flex;
}

#customFileUpload img {
	margin-left: 10px;
/*     border: 1px solid #ebecef; */
}
#uploadFile {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

/* 지도 등록하기 */
.map_wrap {
    margin-top: 16px;
    display: flex;
}

#map {
	width: 85%;
    position: relative;
    margin-left: 10px;
}

.map_wrap, .map_wrap * {padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative; height:400px;}
#menu_wrap {position:absolute;top:0;left:130px;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding: 5px 0 5px 50px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}


.title {font-weight:bold;display:block;}
.hAddr {position:absolute;right:30px;top:10px;border-radius: 2px;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}