@charset "UTF-8";

.contents {
	margin-bottom: 300px;
	margin-top: 200px;
}

section{
	display: block;
}

.innerwrap{
	max-width: 1300px;
    width: 100%;
    margin: 5% auto;
}
.loginInput td{
	text-align: center;
	margin-bottom: 20px;
}
.loginInput td input{
	width: 200px;
	height: 30px;
}
.loginInput th{
	text-align: left;
	font-size: 15px;
	padding-left: 10px;
}
h4{
	font-weight: 500;
    text-align: center;
    font-size: 42px;
    color: #222;
    margin: 50px;
    line-height: normal;
    font-family: 'Noto Sans KR', sans-serif;
}
.loginBox{
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}
.loginbtn{
	background: white;
	width: 200px;
	height: 40px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	box-shadow: rgba(223, 134, 20, 1) 0 0px 0px 2px inset;
	color: rgba(223, 134, 20, 1);
	border: none;
}
.loginbtn:hover{
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(223, 134, 20, 1) 0 0px 0px 40px inset;
}
.loginbtn span{
	font-size: 18px;
	font-weight: bold;
}
.signup{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
}
.wrap{
	margin-top: 10px;
	text-align: center;
}
.seperator{
	display: inline-block;
	text-align: center;
}

.socialLogin{
    width: 90%;
    margin: 5% auto;
    overflow: hidden;
    word-wrap: break-word;
}
.socialList{
	margin-top: 12px;
}
.socialList img{
	margin-top:10px;
} 

.login_sns{
	padding: 0;
}
.login_sns li{
	margin: 7px 0;
}
.login_sns li a{
	display: block;
    width: 280px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    position: relative;
    text-decoration: none;
}

.login_sns li a:before {
    background-image: url(../images/sns-icon.png);
    left: 40px;
    top: -2px;
    width: 50px;
    height: 50px;
    content: '';
    display: inline-block;
    position: absolute;
}

.login_sns li a.kakao{
	background-color: #ffdf01;
    color: #47292b;
    padding-left: 100px;
}
.login_sns li a.kakao:before {
    background-position: -81px 0
}

.login_sns li a.naver{
	background-color: #059830;
    color: #fff;
    padding-left: 100px;
}
.login_sns li a.naver:before {
	background-position: -146px 0;
}

.login_sns li a.google{
	background-color: #de4837;
    color: #fff;
    padding-left: 100px;
}
.login_sns li a.google:before {
	background-position: -220px 0;
}