@charset "UTF-8";
.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}
	.innerwrap{
	    max-width: 1500px;
	    width: 100%;
	    margin: 5% auto;
	    word-wrap: break-word;
	    padding-top: 5%;
	}
	h3 {
	    font-weight: 500;
	    text-align: center;
	    font-size: 42px;
	    color: #222;
	    line-height: normal;
	}
	.placeimg {
		width : 70px;
		height : 70px;
	}

	table {
		border-collapse: collapse;
	}
	
	#timetbl td,#timetbl th{
	 	padding: 16px;
	}

	#jj {
	    width:100%;
	}
	#jj p{
		border: 1px solid #FFDEAD;
		display: flex;
		align-items: center;
		height: 70px;
		white-space: nowrap;
	}
	#jj a{
		text-decoration: none;
		font-weight: bold;
		color:000000;
	}
	#jj a:last-child{
		text-decoration: none;
		font-weight: bold;
		color:blue;
	}
    #schedulePeriod{
        text-align: center;
    }
	thead {
		font-weight: bold;
		color: #fff;
		background:coral;
	}
	
	 td, th {
	    padding: 1em .5em;
	    vertical-align: middle;
	}
	td {
	    background: #fff;
	    border: 1px solid #FFDEAD;
	}
	#firstTable th{
		white-space: nowrap;
	}
	
	#firstTable td:last-child{
		border-right: 1px solid #FFFFFF;
		
	}
	#timetbl td:first-child{
		border-left: 1px solid #FFFFFF;
		border-right:none;
	}
    #timetbl{
        width:20%; 
        text-align: center;
    }
    #timetbl th{
        height: 57px;
    }
    #totaltbl{
    	display: flex; 
        flex-direction: row;
    }

    #scheduletbl{
        display: flex; 
        flex-direction: row;
        width: 60%;
        height: 70%;
        overflow: scroll;
        margin-left: 5%;
    }

    #dragDropTable td{
    	cursor: pointer;
    }
	#dragDropTable{
	  font-size: .9em;
	  border-collapse: collapse;
	  border-radius: 5px;
	}
	
    #timetbl th {
        text-align: center;
        border-collapse: collapse;
    }
    #timetbl td{
    	border-right:none;
    }
    #table-container tbody th {
    width: 300px; /* 각 셀의 너비를 200px로 설정 */
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */ 
    }
	#table-container{
		height: 100%;
	}
    #table-container tbody td {
    width: 300px; /* 각 셀의 너비를 200px로 설정 */
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
	}
	
	
	p {
	 
	 white-space: nowrap;
	
	}
	
	#foodBtn, #placeBtn, #tourBtn, #restBtn{
		
	display : none;
		
	} 
	#foodBtn a, #placeBtn a, #tourBtn a, #restBtn a{
	display: inline-block;
	    margin-right: 10px;
	    margin-left: 10px;
	    padding: 6px 9px;
	    font-size: 13px;
	    font-weight: bold;
	    color: coral;
	    background-color: #FFDEAD;
	    border-color: #FFDEAD;
	    border-radius: 4px;
	    text-decoration-line: none;
	}
	#foodBtn.active,
	#placeBtn.active,
	#tourBtn.active,
	#restBtn.active {
  
    display: inline-block;
    
  	}
	.customoverlay a{
		color : black;
		font-weight:bold;
	}
	
    .highlight {
       background-color: #f2f2f2;
    }
   	.highlight2{
		background-color:#F5A07F;
		border: 2px solid red;
	}
    .fixed_1{
     position: sticky;
     white-space:nowrap;
     height:57px;
    }
    #addSchedule{
	   	color : orange;
	   	position : sticky;
    }
    button {
	    background: #FFDEAD;
	    border-color: #FFDEAD;
	    color: coral;
	    font-weight: bold;
    }
    #inputs{
	    width: 90%;
    	text-align: center;
	    overflow: hidden;
	    margin: 0 auto;
	    padding:2%;
	    align-items: center;
    }
    input{
    	margin:1% 2% 1% 2%;
    	border:1px solid #e1e1e1;
    }
    hr{
    	width:80%;
    	border:1px solid #FFDEAD;
    }
    #selectYN{
    	border:1px solid #e1e1e1;
    	margin-left:1%;
    }
    input:focus,#selectYN:focus{
    	border:2px solid coral; 
    	outline: none;
    }
    #periodBtn a{
	  	padding: 3px 6px;
	    background: #FFDEAD;
	    border-color: #FFDEAD;
	    color: coral;
	    text-decoration: none;
	    border-radius: 3px;
	    font-size:14px;
	}
    #period{
    	display:flex;
   	    justify-content: center;
   	    align-items: center;
    }
    #write{
    	cursor: pointer;
	    background: #FFDEAD;
	    border-color: #FFDEAD;
	    color: coral;
	    font-weight: bold;
   	  	padding: 6px 12px;
	    border-radius: 4px;
	    font-size : 18px;
    }
    #write:hover{
    	border-color:coral;
    }
    #table-container td{
    	height:57px;
    }
	#nDate{
		border: 3px solid #FFDEAD;
		width: 400px;
		padding : 10px;
		margin-bottom: 2px;
		font-size: 18px;
		color : coral;
		font-weight : bold;
		text-align:center;
	}
	#map{
		border: 3px solid #FFDEAD;
		margin-left: 8px;
		width: 100%;
	}
	#preNext{
		margin:2% 0% 2% 7.5%;
	}
	#rest, #tour, #food, #place {
	    display: inline-block; /* 추가된 부분 */
	    white-space: nowrap;
	    margin-right: 0.5%;
	}
	#rest a, #tour a , #food a, #place a{
		display: inline-block;
	    margin-right: 10px;
	    padding: 6px 12px;
	    font-size: 13px;
	    font-weight: bold;
	    color: coral;
	    background-color: #FFDEAD;
	    border-color: #FFDEAD;
	    border-radius: 4px;
	    text-decoration-line: none;
	}
	
	#buttons{
		width:100%;
		white-space: nowrap;
	}
	
	#tourselect{
		border: 3px solid #FFDEAD;
		padding : 10px;
	}
	#sequencediv{
		display : flex;
		vertical-align: middle;
		text-alingn : center;
		border : 2px solid coral;
		margin: 0 10px 0px 10px; 
	}
	#stars{
		color:coral;
	}
	#top{
		color:coral;
		font-weight: bold;
	}