@charset "UTF-8";

.contents{
	margin: 300px auto 200px auto;
	width: 60%;
	border: 1px solid coral;
	border-radius: 10px;
	text-align: center;
}
.title_wrap{
	margin: 90px 0 50px 0;
}
h4 {
	color: coral;
	font-size: 30px;
	font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -.2px;
}

.btn{
	margin-top: 50px;
    margin-bottom: 50px;
    background: coral;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

table{
	width: 27%;
	text-align: right;
	margin: 0 auto 0 auto;
	color: red;
}
.pwInfo{
	text-align: center;
	color: red;
	margin-top: 15px;
}