@charset "UTF-8";

.inner {
    position: relative;
    margin: 0 auto;
    width: 1300px;
    /* height: 100%; */
}

.innerwrap {
    max-width: 1300px;
    width: 100%;
    margin: 5% auto;
    padding: 0 5%;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
}

h3 {
    font-weight: 500;
    text-align: center;
    font-size: 42px;
    color: #222;
    /* margin: unset; */
    line-height: normal;
}


.innerList {
    max-width: 1300px;
    width: 100%;
    margin: 5% auto;
    /* padding: 0 5%; */
    overflow: hidden;
    word-wrap: break-word;
}

.total_cnt{
	display: flex;
	/* width: 80%; */
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	/* font-size: 20px; */
}
.total_cnt span{
	color: red;
}
.video-table {
    /* width: 80%; */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}
.video-table tr,td{
	border: 5px solid white;
}
.video-table td {
    width: 25%;
    padding: 10px;
    text-align: center;
}
.video-table td div{
	border: 1px solid #d5e3e8;
}
.video-table td p{
	height: 120px;
	margin: 0;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.video-table td a,img{
	margin: 0;
}
.video-thumbnail {
    max-width: 100%;
    height: auto;
}
/* 페이징 css */

.pagination {
    text-align: center;
    margin: 30px 0 50px 0;
    font-size: 0;
    clear: both;
}

.pagination a {
	text-decoration: none;
    display: inline-block;
    text-align: center;
    min-width: 44px;
    line-height: 44px;
    font-size: 16px;
    vertical-align: middle;
    border: 1px solid #c9c9c9;
    margin: 0 1px;
}

.pagination .active {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.pagination a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

